$parent: 'wp-block-yard-tabs';
$block: 'wp-block-yard-tabs-item';

.#{$parent}
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	.#{$block} {
	&__heading {
		display: flex;
		align-items: center;

		&-input {
			width: auto;
		}
	}

	&__panel {
		order: 100;
		width: 100%;
	}
}
