.icon-picker-control {
	&-preview-icon {
		margin-bottom: 1rem;
		font-size: 3rem;
	}

	&-popover > div {
		min-width: 331px;

		.icon-picker-control-results-container {
			margin: 0;
		}
	}

	&-results-container {
		display: flex;
		width: 300px;
		flex-wrap: wrap;
		justify-content: center;
		margin: 1rem;
		row-gap: 10px;
	}

	&-icon-btn-container {
		display: flex;
		width: 60px;
		justify-content: center;

		i {
			font-size: 2rem;
		}
	}

	&-notice {
		margin-right: 0;
		margin-left: 0;
	}

	&-delete-icon-btn {
		margin-bottom: 1.5rem;
	}
}
