/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.icon-picker-control {
	&-preview-icon {
		margin-bottom: 1rem;
		font-size: 3rem;
	}

	&-popover {
		&-container {
			display: flex;
			width: 300px;
			flex-wrap: wrap;
			justify-content: center;
			margin: 1rem;
			row-gap: 10px;
		}

		&-btn-container {
			display: flex;
			width: 60px;
			justify-content: center;

			i {
				font-size: 2rem;
			}
		}
	}

	&-notice {
		margin-right: 0;
		margin-left: 0;
	}
}
